@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: normal;

	src: url("../../fonts/IRANSansWeb(FaNum).ttf") format("ttf"),
		url("../../fonts/IRANSansWeb(FaNum).woff") format("woff"),
		url("../../fonts/IRANSansWeb(FaNum).woff2") format("woff");
}

.IRANSans {
	font-family: "IRANSans";
}
body{
    font-family: "IRANSans";
}